.home-wrapper{
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 1rem;
}
@media screen and (max-width: 1024px) {
  .home-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .home-wrapper{
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .home-wrapper{
    width: 95%;
  }
  
}